.main {
  max-width: 464px;
}

@media (min-width: 689px) {
  .main {
    max-width: 689px;
  }
}

@media (min-width: 897px) {
  .main {
    max-width: 897px;
  }
}

@media (min-width: 1105px) {
  .main {
    max-width: 1105px;
  }
}


@media (min-width: 1313px) {
  .main {
    max-width: 1313px;
  }
}


